<div class="footer">
    <hr/>
    <div class="pull-left" style="text-align:left">
        <a href="/">Paste</a>
    </div>
    <div class="pull-right" style="text-align:right">
        Paste is built on <a href="">zFramework</a>, <a href="http://slimframework.com/" target="_blank">SlimFramework</a>, <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a> and <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> <br/>
        {{ pageTimer()|number_format() }}ms.
    </div>
</div>
